* {
    margin: 0;
    padding: 0;
}

#contents {
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    width: 80%;
    margin-bottom: 70px;
}

.title {
    font-size: 43px;
    text-align: center;
    border-bottom: 2px solid blueviolet;
}

#name,
#email,
#contact {
    width: 80%;
    font-size: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

#name p,
#email p,
#contact p {

}