body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 43px;
    border-bottom: 3px solid rgb(5, 103, 148);
}

.form-group {
    width: 1000px;
    margin-top: 50px;
}

.label-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.label-title label {
    font-size: 24px;
}

button {
    margin-top: 50px;
}

input, textarea {
    margin-top: 10px;
}

input:hover, textarea:hover {
    cursor: pointer;
}

.borderChange {
    border: 2px solid gray;
}